@model List<ShopBanDoDienTu_Nhom1.Models.Category>

@{
    ViewBag.Title = "Category List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model != null)
{
    <div class="container">
        <h2 class="text-center">Danh sách các loại mặt hàng</h2>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="dropdown">
                    <button class="btn btn-outline-light dropdown-toggle" type="button" id="dropdownCategory" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Chọn loại mặt hàng
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownCategory">
                        @foreach (var category in Model)
                        {
                            <a class="dropdown-item" href="@Url.Action("ProductsByCategory", "Products", new { categoryId = category.CategoryId })">@category.CategoryName</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="container">
        <p class="text-danger">Không có dữ liệu.</p>
    </div>
}
