################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ShopBanDoDienTu_Nhom1/Views/Products/Detail.cshtml
/ShopBanDoDienTu_Nhom1/Content/Site.css
