@model IEnumerable<ShopBanDoDienTu_Nhom1.Models.Brand>
@{
    ViewBag.Title = "Index";
}

<h2>Thương hiệu - Shop nhóm 1</h2>

<p>
    <a class="btn btn-success" href="/manager/brands/create">Thêm thương hiệu</a>
</p>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Tên thương hiệu</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.BrandId)</td>
                    <td>@Html.DisplayFor(modelItem => item.BrandName)</td>
                    <td>
                        @Html.ActionLink("Chỉnh sửa", "Edit", new { id = item.BrandId, controller = "Brands", area = "Manager" }, new { @class = "btn btn-warning btn-sm" }) 
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
